.category__item {
  transition: color 0.3s;
  font-size: 1rem;
  white-space: nowrap;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.56);
  cursor: pointer;
}
.subcategory__item {
  transition: color 0.3s;
  font-size: 0.8rem;
  white-space: nowrap;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.56);
  cursor: pointer;
}

.category__item:hover,
.subcategory__item:hover {
  color: #000;
  font-weight: 500;
}

.ad_icons {
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.56);
}

.stepTwo_icon {
  color: rgba(0, 0, 0, 0.56);
}

.ad__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.advertisement__button {
  background: #a62626;
  transition: background 0.4s;
}
.advertisement__button:hover {
  background: #be3737;
}

.category__holder {
  margin: 1rem 0 2rem;
}

.icons {
  color: #979797;
  font-size: 1.5rem;
  margin-left: 5px;
}

.subCategory__text,
.subCategory__header {
  color: rgba(0, 0, 0, 0.56);
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1.5;
  outline: none;
  padding: 6px 0;
  -webkit-transition: color 0.36s ease;
  transition: color 0.36s ease;
}

.subCategory__text:hover {
  color: rgba(0, 0, 0, 0.87);
}
.subCategory__header {
  font-size: 1rem;
  font-weight: 500;
}
