.category__item {
  transition: color 0.3s;
}

.category__item:hover {
  color: #000;
  font-weight: 500;
}

.ad_icons {
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.56);
}

.ad__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.advertisement__button {
  background: #a62626;
  transition: background 0.4s;
}
.advertisement__button:hover {
  background: #be3737;
}
