.city__names {
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

.city__modal > .ant-modal-content > .ant-modal-body {
  background-color: red;
}

.citylist {
  padding: 5px 24px 24px;
  max-height: 200px;
  overflow: auto;
}

.divider {
  margin-top: 1.3rem;
  border-color: #000;
}
