@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSansWeb.woff2");
}

@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSansWeb_UltraLight.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSansWeb_Light.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSansWeb_Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSansWeb_Bold.woff2");
  font-weight: 600;
}

*,
*:before,
*:after {
  font-family: "IranSans" !important;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mui__container {
  padding: 0 !important;
  margin: 0 !important;
  direction: rtl;
}

.city__modal > .ant-modal-content > .ant-modal-body {
  padding: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@media screen and (max-width: 583px) {
  .borderBottom {
    border-bottom: 1px solid #dee2e6;
  }
}

.NewAd {
  margin: 20px 5vw;
}

@media screen and (min-width: 724px) {
  .NewAd {
    margin: 20px 31vw;
  }
}

.ant-drawer-body {
  margin: 0;
  padding: 0;
}

.wall {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  padding: 3rem 1.5rem;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .order1 {
    order: 1 !important;
  }
  .order2 {
    order: 2 !important;
  }
}

@media screen and (min-width: 768px) {
  .wall {
    padding: 6rem 1.5rem;
  }
}
