@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSans-web.woff2");
}

@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSans-Bold-web.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSans-Medium-web.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSans-Light-web.woff2");
  font-weight: 400;
}

*,
*:before,
*:after {
  font-family: "IranSans" !important;
}

html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.city__modal > .ant-modal-content > .ant-modal-body { 
  padding: 0;
}