.nav__items {
  color: #818181;
  font-weight: bold;
  font-size: 12px;
  font-weight: 500;
}

.navbtn__text {
  margin-right: 8px;
}

.navbar__btn {
  background: #a62626;
  transition: background 0.4s;
}
.navbar__btn:hover {
  background: #be3737;
}

.dropdown {
  position: relative;
}

.dropdown__content {
  position: absolute;
  display: block;
  z-index: 999999;
}

.category__dropdown {
  display: block;
}

.navbar__category {
  position: relative;
  padding: 0 1.5rem;
}

.icons {
  color: #979797;
  font-size: 1.5rem;
  margin-left: 5px;
}

.border {
  border-left: 1px solid red;
}

.navbar__category:hover .category__dropdown {
  display: block;
}

.category__item {
  font-size: 12px;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.56);
  cursor: pointer;
}

.category__menu_holder {
  padding: 0.5rem 2rem;
}

.category__menu_item,
.category__menu_title {
  font-size: 12px;
  display: block;
  margin: 5px 0;
}
.category__menu_title {
  font-weight: bold;
  margin: 0 0 15px;
}

.megamenu__dropdown {
  position: relative;
}

.megamenu__dropdown_content {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
}

.search__input > input,
.search__input > input::-webkit-input-placeholder {
  font-size: 13px;
}
